@import url(../css/register.css);
:root {
  --sprentyBlue: #11bac5;
  --sprentyDarkBlue: #11b9c5;
  --sprentyCyan: #e7fdff;
  --textColor: #525252;
}

.dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: unset !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
* .sprenty-mainContainter {
  padding: 0 !important;
  margin: 0 !important;
}
* .sprenty-mainContainter .sprenty-leftBanner {
  background-color: var(--sprentyBlue);
}
* .sprenty-mainContainter .sprenty-leftBanner .sprenty-leftWrapper img {
  width: 500px;
}
* .sprenty-mainContainter .sprenty-leftBanner .sprenty-bannerTexts {
  color: var(--sprentyCyan);
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap {
  width: 420px;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalHeading h2 {
  color: var(--textColor) !important;
  font-size: 36px !important;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalHeading p span {
  color: var(--sprentyBlue);
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalOptions {
  margin: 0;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalOptions .sprenty-methodGoogle,
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalOptions .sprenty-methodTwitter,
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalOptions .sprenty-methodFacebook {
  height: 50px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  padding: 0 !important;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalOptions .sprenty-methodTwitter,
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalOptions .sprenty-methodFacebook {
  width: 60px;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalOptions .sprenty-methodGoogle .sprenty-GoogleWrap p {
  margin-bottom: 0 !important;
  color: #828282;
  transition: 0.2s all ease-in-out;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalOptions .sprenty-methodGoogle:hover,
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalOptions .sprenty-methodTwitter:hover,
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-modalOptions .sprenty-methodFacebook:hover {
  background-color: var(--sprentyCyan);
  transition: 0.2s all ease-in-out;
  border: 1px solid var(--sprentyBlue) !important;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-localHeading {
  font-size: 14px;
  color: #828282;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-formSection label {
  font-size: 14px;
  color: #828282;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-formSection input {
  height: 50px;
  padding-left: 10px;
  outline: none;
  outline-color: var(--textColor) !important;
  font-family: "Nunito Sans", sans-serif !important;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-formSection input:focus {
  border: 1px solid var(--sprentyBlue) !important;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-formSection input:active {
  background-color: #fcfcfe;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-formSection .sprenty-checkbox input {
  height: auto !important;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-formSection .sprenty-checkbox .sprenty-passReset a {
  color: var(--sprentyBlue);
  text-decoration: none;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-formSection .sprenty-submitBtn {
  color: #ffffff;
  background-color: var(--sprentyBlue);
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-modalWrap .sprenty-formSection .sprenty-checkbox label a {
  color: var(--sprentyBlue);
  text-decoration: none;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-member {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-member p {
  color: #828282;
}
* .sprenty-mainContainter .sprenty-Modal .sprenty-member p a {
  color: var(--sprentyBlue);
  text-decoration: none;
}
* .sprenty-mainDiv .sprenty-collapse .sprenty-leftNav .sprenty-language img {
  width: 35px !important;
}
* .sprenty-mainDiv .sprenty-collapse .sprenty-leftNav .sprenty-navNotification {
  font-size: 25px;
  color: #83868b;
  cursor: pointer;
}
* .sprenty-mainDiv .sprenty-collapse .sprenty-leftNav .sprenty-verticalLine {
  border-left: 3px solid #eef1f6;
  height: 40px !important;
}
* .sprenty-mainDiv .sprenty-collapse .sprenty-leftNav .sprenty-dropdown .sprenty-profilePic img {
  width: 35px;
  height: 35px;
}
* .sprenty-mainDiv .sprenty-collapse .sprenty-leftNav .sprenty-dropdown .sprenty-profileName p {
  margin: 0 !important;
  color: var(--textColor);
}
* .sprenty-mainDiv .sprenty-collapse .sprenty-leftNav .sprenty-dropdown .sprenty-dropdown-menu li a {
  color: var(--textColor);
}
* .sprenty-mainDiv .sprenty-collapse .sprenty-leftNav .sprenty-dropdown .sprenty-dropdown-menu li a:active {
  background-color: var(--sprentyCyan);
}
* .sprenty-overWrap .sprenty-overlayIMG {
  height: 500px;
  background: url("../images/stadium.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
* .sprenty-overWrap .sprenty-overlayIMG::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(163, 228, 219, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: -1;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-overlayContent {
  color: #ffffff !important;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-overlayContent .sprenty-overlayTexts h1 {
  font-size: 3.5rem;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-overlayContent .sprenty-overlayTexts h3 {
  font-size: 2rem;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch:after {
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: 0px -25px 50px 32px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar {
  padding: 0 3rem;
  background-color: white;
  border-radius: 14px;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locBarContent .sprenty-barTopContent {
  border-bottom: 1px solid var(--textColor);
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locBarContent .sprenty-barTopContent .sprenty-barSports {
  justify-content: space-between;
  color: var(--textColor);
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locBarContent .sprenty-barTopContent .sprenty-barSports div {
  cursor: pointer;
  position: relative;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locBarContent .sprenty-barTopContent .sprenty-barSports div::after {
  content: "";
  position: absolute;
  bottom: -2%;
  left: 0;
  width: 100%;
  height: 3px;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locBarContent .sprenty-barTopContent .sprenty-barSports div:hover:after {
  background-color: #11b9c5;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locBarContent .sprenty-barTopContent .sprenty-barSports div:hover {
  color: var(--sprentyDarkBlue);
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locBarContent .sprenty-barTopContent .sprenty-barSports div p {
  margin: 0;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locManager .sprenty-locPicker {
  display: flex;
  justify-content: space-between;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locManager .sprenty-locPicker div {
  position: relative;
  background-color: #f6f7f9;
  border-color: #f2f2f2 !important;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locManager .sprenty-locPicker div div h5 {
  color: #43464d;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locManager .sprenty-locPicker div div p {
  color: #b2b5c4;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locManager .sprenty-locPicker .sprenty-currentLoc {
  width: 300px;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locManager .sprenty-locPicker .sprenty-destinationLoc {
  width: 230px;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locManager .sprenty-locPicker .sprenty-checkIn {
  width: 215px;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locManager .sprenty-locPicker .sprenty-checkOut {
  width: 215px;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-locBar .sprenty-locManager .sprenty-locPicker .sprenty-connector {
  background-color: #ffffff;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 24%;
  right: 95%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--textColor);
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-searchSec {
  align-items: center;
  justify-content: flex-end;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-searchSec .sprenty-searchSecWrap {
  margin-top: 70px;
}
* .sprenty-overWrap .sprenty-overlayIMG .sprenty-locSearch .sprenty-searchSec .sprenty-searchSecWrap .sprenty-srchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sprentyBlue);
  width: 150px;
  height: 70px;
  color: #ffffff;
  font-size: 18px;
}
* .sprenty-districts {
  margin-top: 160px;
}
* .sprenty-districts .sprenty-districtsWrap .sprenty-header {
  text-align: center;
  padding: 0 15%;
}
* .sprenty-districts .sprenty-districtsWrap .sprenty-header p,
* .sprenty-districts .sprenty-districtsWrap .sprenty-header h1 {
  margin: 0;
}
* .sprenty-districts .sprenty-districtsWrap .sprenty-header p {
  color: var(--textColor);
}
* .sprenty-districts .sprenty-districtsList {
  display: flex;
  justify-content: center;
  padding: 0 !important;
  margin-top: 40px;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap {
  position: relative;
  padding-right: 0 !important;
  padding-left: 0 !important;
  justify-content: center;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner {
  margin-top: 25px;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap:hover {
  box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner {
  padding: 1.5rem 1.3rem;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-cardIMG {
  width: 60px;
  height: 60px;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-saburtalo {
  background: url("../images/districts/saburtalo.webp") center no-repeat;
  background-size: cover;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-vake {
  background: url("../images/districts/vake.webp") center no-repeat;
  background-size: cover;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-gldani {
  background: url("../images/districts/gldani.webp") center no-repeat;
  background-size: cover;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-digomi {
  background: url("../images/districts/digomi.webp") center no-repeat;
  background-size: cover;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-minsk {
  background: url("../images/districts/minsk.webp") center no-repeat;
  background-size: cover;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-chugureti {
  background: url("../images/districts/chugureti.webp") center no-repeat;
  background-size: cover;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-lisi {
  background: url("../images/districts/lisi.webp") center no-repeat;
  background-size: cover;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-samgori {
  background: url("../images/districts/samgori.webp") center no-repeat;
  background-size: cover;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-cardName h5,
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-locCount p {
  margin: 0 !important;
}
* .sprenty-districts .sprenty-districtsList .sprenty-districtWrap .item .itemInner .sprenty-listWrap .sprenty-card .sprenty-cardInner .sprenty-locCount p {
  font-size: 14px;
  color: var(--textColor);
}

.sprenty-destinations {
  margin-top: 75px;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-header p {
  color: var(--textColor);
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-header p span {
  color: var(--sprentyBlue);
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-innerTop {
  background: url("../images/destinations/lisi.webp") center no-repeat;
  background-size: cover;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-innerTop .sprenty-rating,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-botHalfLeft .sprenty-rating,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-botHalfRight .sprenty-rating {
  width: 70px;
  height: 30px;
  background-color: var(--sprentyCyan);
  color: var(--sprentyBlue);
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-innerTop .sprenty-rating p,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-botHalfLeft .sprenty-rating p,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-botHalfRight .sprenty-rating p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: unset;
  justify-content: center;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-innerTop .sprenty-name,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-botHalfLeft .sprenty-name,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-botHalfRight .sprenty-name {
  width: 100%;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-innerBot .sprenty-botHalfLeft {
  background: url("../images/destinations/daraselia.webp") center no-repeat;
  background-size: cover;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-leftSec .sprenty-innerBot .sprenty-botHalfRight {
  background: url("../images/destinations/makarana.webp") center no-repeat;
  background-size: cover;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-topDest,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-midDest,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-botDest {
  width: 100%;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-topDest .sprenty-rating,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-midDest .sprenty-rating,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-botDest .sprenty-rating {
  width: 50px;
  height: 25px;
  font-size: 13px;
  background-color: var(--sprentyCyan);
  color: var(--sprentyBlue);
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-topDest .sprenty-rating p,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-midDest .sprenty-rating p,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-botDest .sprenty-rating p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: unset;
  justify-content: center;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-topDest .sprenty-name,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-midDest .sprenty-name,
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-botDest .sprenty-name {
  width: 100%;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-topDest {
  background: url("../images/destinations/mziuri.webp") center no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-midDest {
  background: url("../images/destinations/imedi.webp") center no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sprenty-destinations .sprenty-destinationsWrap .sprenty-destinationsList .sprenty-destinationsWrap .sprenty-rightSec .sprenty-botDest {
  background: url("../images/destinations/school.webp") center no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  .sprenty-barWrap {
    width: 100% !important;
  }

  .sprenty-locBar {
    flex-direction: column;
  }

  .sprenty-currentLoc {
    width: 100% !important;
    margin-bottom: 15px;
  }

  .sprenty-connector {
    display: none !important;
  }

  .sprenty-searchSec {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    width: 100%;
  }

  .sprenty-searchSecWrap {
    margin: 0 0 1.5rem 0 !important;
  }

  .sprenty-destinationLoc,
.sprenty-checkIn,
.sprenty-checkOut {
    width: 32% !important;
  }

  .sprenty-districts {
    margin-top: 320px;
  }
}
@media screen and (max-width: 1200px) {
  .sprenty-botHalfLeft,
.sprenty-botHalfRight {
    height: 250px !important;
  }
}
@media screen and (max-width: 992px) {
  .sprenty-destinationLoc {
    width: 100% !important;
    margin-bottom: 15px;
  }

  .sprenty-checkIn,
.sprenty-checkOut {
    width: 49% !important;
  }

  .sprenty-locPicker {
    justify-content: space-between !important;
  }

  .sprenty-header {
    padding: 0 5% !important;
  }

  .sprenty-destinationsWrap .sprenty-header {
    padding: 0 !important;
  }

  .sprenty-districts {
    margin-top: 380px;
  }

  .sprenty-topDest,
.sprenty-midDest,
.sprenty-botDest {
    width: 32% !important;
    height: 150px !important;
  }
}
@media screen and (max-width: 768px) {
  .sprenty-cardInner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .owl-nav.disabled {
    display: flex !important;
  }
}
@media screen and (max-width: 576px) {
  .sprenty-locBar {
    padding: 0 1rem !important;
  }

  .sprenty-locPicker div div {
    margin: 0 !important;
  }
  .sprenty-locPicker div div h5 {
    font-size: 1.1rem;
  }

  .sprenty-districts {
    margin-top: 400px;
  }

  .sprenty-listWrap {
    box-shadow: none !important;
  }

  .sprenty-destinationsWrap .sprenty-header {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .sprenty-topDest, .sprenty-midDest, .sprenty-botDest {
    width: 70% !important;
  }

  .sprenty-botHalfLeft, .sprenty-botHalfRight {
    width: 70% !important;
  }

  .sprenty-innerTop {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  .sprenty-leftBanner {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .sprenty-googleText {
    display: none;
  }

  .sprenty-methodGoogle {
    width: 60px !important;
  }

  .sprenty-barSports {
    justify-content: space-around;
  }

  .sprenty-basketball {
    padding: 0 !important;
  }
}
.owl-stage-outer {
  padding: 0 !important;
}

.owl-nav {
  position: absolute !important;
  display: flex !important;
  justify-content: center;
  display: none !important;
}
.owl-nav button {
  margin: 0 10px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 30px !important;
}
.owl-nav button:hover {
  background-color: none !important;
}
.owl-nav button span {
  font-size: 55px;
  display: flex !important;
  height: 30px !important;
  align-items: center !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: unset !important;
  color: unset;
}

.disabled span {
  color: var(--sprentyBlue) !important;
}

.owl-prev,
.owl-next {
  color: var(--sprentyDarkBlue) !important;
}/*# sourceMappingURL=main.css.map */